{% extends '@nucleus/partials/particle.html.twig' %}

{% block particle %}
	<div class="g-block-content">
		{% if particle.image or particle.headline or particle.description or particle.linktext %}
		<div class="g-grid">
			<div class="g-block">
				<div class="g-content">
					{% if particle.image %}<img src="{{ url(particle.image) }}" class="logo-large" alt="{{ particle.headline|e }}" />{% endif %}
					{% if particle.headline %}<h3 class="g-title">{{ particle.headline|raw }}</h3>{% endif %}
					{% if particle.description %}<div class="g-block-description">{{ particle.description|raw }}</div>{% endif %}
					{% if particle.linktext %}<p><a href="{{ particle.link|e }}" class="button">{{ particle.linktext|e }}</a></p>{% endif %}
				</div>
			</div>
		</div>
		{% endif %}
		<div class="g-grid">
			{% for subcontent in particle.subcontents %}
				<div class="g-block {{ subcontent.class }}">
					<div class="g-content">
						{% if subcontent.link %}<a href="{{ subcontent.link|e }}">{% endif %}
						{% if subcontent.icon %}<i class="{{ subcontent.icon }} g-block-icons"></i>{% endif %}
						{% if subcontent.img %}<img src="{{ url(subcontent.img) }}" class="g-block-subcontent-img" alt="{{ subcontent.title|e }}" />{% endif %}
						{% if subcontent.link %}</a>{% endif %}
						
						{% if subcontent.subtitle %} <div class="g-subtitle">{% if subcontent.link %}<a href="{{ subcontent.link|e }}">{% endif %}{{ subcontent.subtitle|raw }}{% if subcontent.link %}</a>{% endif %}</div> {% endif %}
						{% if subcontent.name %}<h4>{% if subcontent.link %}<a href="{{ subcontent.link|e }}">{% endif %}{{ subcontent.name|raw }}{% if subcontent.link %}</a>{% endif %}</h4>{% endif %}
						{% if subcontent.description %}{{ subcontent.description|raw }}{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}